In [2]:
import os
import sys
sys.path.append('C:\\Users\\soria\\Documents\\WashUDataDocuments\\HwActivites\\YouTube_Project\\')

import pandas as pd

from pprint import pprint

import pymongo

import json

from bson.json_util import dumps, loads

import re

from datetime import datetime

import time

In [5]:
os.getcwd()

'C:\\Users\\soria\\Documents\\WashUDataDocuments\\HwActivites\\YouTube_Project\\YouTube-Data-Analytics-and-Visualization\\data_wrangling'

In [2]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
mongoDb = client.social_blade

In [4]:
collection = mongoDb.social_blade_asmr_data

In [ ]:
html = loads(dumps(collection.find({channel : {'$exists':True}})))[0][channel]

In [4]:

with open('sb_asmr_data.json') as data_file:    
    data = json.load(data_file)

In [5]:
data.keys()

dict_keys(['_id', 'ASMRKittyKlaw', 'GibiASMR', 'GentleWhisperingASMR', 'ASMRDarling', 'ASMRGlow', 'FrivolousFox', 'WhispersRedASMR', 'ASMRPPOMO', 'PelageaASMR', 'GoodnightMoon', 'MassageASMR', 'EphermalRift', 'KarunaSatori', 'RaffyTaphyASMR', 'FastASMR', 'ASMRrequests', 'SAS-ASMR', 'Softlygaloshes', 'HeatherFeatherASMR', 'FairyCharASMR', 'PJDreams', 'LatteASMR', 'DrTASMR', 'ASMRSurge', 'GwenGwiz', 'RapunzelASMR', 'CherryCrush', 'DanaASMR', 'OliviaKissperASMR', 'CosmicTinglesASMR', 'MissASMR', 'Angelica', 'TheOneLiliumASMR', 'SpringbokASMR', 'MarnoASMR', 'ASMRTheChew', 'FredsVoiceASMR', 'TirarADeguello', 'LauraLemurexASMR', 'SensorAdiASMR', 'TingleBelle', 'TonyBomboniASMR', 'HermeticKitten', 'SleepyTinglesASMR', 'ArticulateDesignASMR', 'Cloveress', 'ASMRSoundSpace', 'MiniyuASMR', 'ChristenNoelASMR', 'SassEsnacks', 'JASMR', 'Bluewhisper', 'suellASMR', 'ASMRctica', 'SouthernASMRSounds', 'TingTingASMR', 'CreativeCalmASMR', 'ScottishMurmurs', 'LetsFindOutASMR', 'FrivolousFoxASMR', 'JojosAsmr', 'EphemeralRift', 'KarunaSatoriASMR', 'fastASMR', 'softlygaloshes'])

In [6]:
channels = ['ASMRKittyKlaw', 'GibiASMR', 'GentleWhisperingASMR', 'ASMRDarling', 'ASMRGlow', 'FrivolousFox', 'WhispersRedASMR', 'ASMRPPOMO', 'PelageaASMR', 'GoodnightMoon', 'MassageASMR', 'EphermalRift', 'KarunaSatori', 'RaffyTaphyASMR', 'FastASMR', 'ASMRrequests', 'SAS-ASMR', 'Softlygaloshes', 'HeatherFeatherASMR', 'FairyCharASMR', 'PJDreams', 'LatteASMR', 'DrTASMR', 'ASMRSurge', 'GwenGwiz', 'RapunzelASMR', 'CherryCrush', 'DanaASMR', 'OliviaKissperASMR', 'CosmicTinglesASMR', 'MissASMR', 'Angelica', 'TheOneLiliumASMR', 'SpringbokASMR', 'MarnoASMR', 'ASMRTheChew', 'FredsVoiceASMR', 'TirarADeguello', 'LauraLemurexASMR', 'SensorAdiASMR', 'TingleBelle', 'TonyBomboniASMR', 'HermeticKitten', 'SleepyTinglesASMR', 'ArticulateDesignASMR', 'Cloveress', 'ASMRSoundSpace', 'MiniyuASMR', 'ChristenNoelASMR', 'SassEsnacks', 'JASMR', 'Bluewhisper', 'suellASMR', 'ASMRctica', 'SouthernASMRSounds', 'TingTingASMR', 'CreativeCalmASMR', 'ScottishMurmurs', 'LetsFindOutASMR', 'FrivolousFoxASMR', 'JojosAsmr', 'EphemeralRift', 'KarunaSatoriASMR', 'fastASMR', 'softlygaloshes']

In [45]:
sb_asmr_df = pd.DataFrame({
    'channel_name':[None] * len(channels),
    'channel_id': [None] * len(channels),
    'uploads': [None] * len(channels),
    'subs': [None] * len(channels),
    'views': [None] * len(channels),
    'country': [None] * len(channels),
    'channel_type': [None] * len(channels),
    'date_created': [None] * len(channels)
#     'time_series': [None] * len(channels)
})
sb_asmr_df.head()

,channel_name,channel_id,uploads,subs,views,country,channel_type,date_created
0,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None

In [14]:
sb_asmr_df.columns

Index(['channel_name', 'channel_id', 'uploads', 'subs', 'views', 'country',
       'channel_type', 'date_created', 'time_series'],
      dtype='object')

In [46]:
sb_asmr_dict = {
    'channel_name': [],
    'channel_id': [],
    'uploads': [],
    'subs':[],
    'views':[],
    'country':[],
    'channel_type':[],
    'date_created':[]
#     'time_series':[],
}

In [15]:
columns = ['channel_name', 'channel_id', 'uploads', 'subs', 'views', 'country',
       'channel_type', 'date_created', 'time_series']

In [44]:
# sb_asmr_dict[columns[0]].append('xyz')
# sb_asmr_dict

In [47]:
for channel in channels:
    sb_asmr_dict[columns[0]].append(data[channel][columns[0]])
    sb_asmr_dict[columns[1]].append(data[channel][columns[1]])
    sb_asmr_dict[columns[2]].append(data[channel][columns[2]])
    sb_asmr_dict[columns[3]].append(data[channel][columns[3]])
    sb_asmr_dict[columns[4]].append(data[channel][columns[4]])
    sb_asmr_dict[columns[5]].append(data[channel][columns[5]])
    sb_asmr_dict[columns[6]].append(data[channel][columns[6]])
    sb_asmr_dict[columns[7]].append(data[channel][columns[7]])
#     sb_asmr_dict[columns[8]].append(data[channel][columns[8]])

In [48]:
sb_asmr_df = pd.DataFrame(sb_asmr_dict)
sb_asmr_df.head()

,channel_name,channel_id,uploads,subs,views,country,channel_type,date_created
0,ASMR KittyKlaw,UCo-gAYrvd7WIrCRsNueddtQ,184,888117,141473823,,people,"Aug 14th, 2015"
1,Gibi ASMR,UCE6acMV3m35znLcf0JGNn7Q,373,1686824,429478130,US,entertainment,"Jun 19th, 2016"
2,Gentle Whispering ASMR,UC6gLlIAnzg7eJ8VuXDCZ_vg,393,1617552,578319406,US,entertainment,"Feb 24th, 2011"
3,ASMR Darling,UCikebqFWoT3QC9axUbXCPYw,153,2251401,418040979,US,entertainment,"Dec 11th, 2014"
4,ASMR Glow,UCFmL725KKPx2URVPvH3Gp8w,157,723979,119940003,,people,"Oct 24th, 2016"

In [54]:
sb_asmr_df['uploads'] = pd.to_numeric(sb_asmr_df['subs'])
sb_asmr_df['subs'] = pd.to_numeric(sb_asmr_df['subs'])
sb_asmr_df['views'] = pd.to_numeric(sb_asmr_df['subs'])

In [61]:
asmr_type_uploads_summary = sb_asmr_df.groupby('channel_type')['uploads'].agg(['sum','count', 'mean'])
asmr_type_subs_summary = sb_asmr_df.groupby('channel_type')['subs'].agg(['sum','count', 'mean'])
asmr_type_views_summary = sb_asmr_df.groupby('channel_type')['views'].agg(['sum','count', 'mean'])
asmr_country_uploads_summary = sb_asmr_df.groupby('country')['uploads'].agg(['sum','count', 'mean'])
asmr_country_subs_summary = sb_asmr_df.groupby('country')['subs'].agg(['sum','count', 'mean'])
asmr_country_views_summary = sb_asmr_df.groupby('country')['views'].agg(['sum','count', 'mean'])

In [56]:
asmr_type_uploads_summary

                    sum  count           mean
channel_type
                2257320      3  752440.000000
comedy           207231      1  207231.000000
education         39847      1   39847.000000
entertainment  22338478     34  657014.058824
people         11703663     26  450140.884615

In [62]:
asmr_country_uploads_summary

              sum  count          mean
country
          3674883      8  4.593604e+05
AU         753617      1  7.536170e+05
BE         417928      1  4.179280e+05
CA        5871424      3  1.957141e+06
CR         317551      1  3.175510e+05
DK         219261      1  2.192610e+05
ES         250611      1  2.506110e+05
GB        2071656      8  2.589570e+05
KR        2197527      3  7.325090e+05
PL         652193      1  6.521930e+05
SE          26987      1  2.698700e+04
US       20092901     36  5.581361e+05

In [57]:
asmr_type_subs_summary

                    sum  count           mean
channel_type
                2257320      3  752440.000000
comedy           207231      1  207231.000000
education         39847      1   39847.000000
entertainment  22338478     34  657014.058824
people         11703663     26  450140.884615

In [63]:
asmr_country_subs_summary

              sum  count          mean
country
          3674883      8  4.593604e+05
AU         753617      1  7.536170e+05
BE         417928      1  4.179280e+05
CA        5871424      3  1.957141e+06
CR         317551      1  3.175510e+05
DK         219261      1  2.192610e+05
ES         250611      1  2.506110e+05
GB        2071656      8  2.589570e+05
KR        2197527      3  7.325090e+05
PL         652193      1  6.521930e+05
SE          26987      1  2.698700e+04
US       20092901     36  5.581361e+05

In [60]:
asmr_type_views_summary

                    sum  count           mean
channel_type
                2257320      3  752440.000000
comedy           207231      1  207231.000000
education         39847      1   39847.000000
entertainment  22338478     34  657014.058824
people         11703663     26  450140.884615

In [64]:
asmr_country_views_summary

              sum  count          mean
country
          3674883      8  4.593604e+05
AU         753617      1  7.536170e+05
BE         417928      1  4.179280e+05
CA        5871424      3  1.957141e+06
CR         317551      1  3.175510e+05
DK         219261      1  2.192610e+05
ES         250611      1  2.506110e+05
GB        2071656      8  2.589570e+05
KR        2197527      3  7.325090e+05
PL         652193      1  6.521930e+05
SE          26987      1  2.698700e+04
US       20092901     36  5.581361e+05