In [1]:
import os
import sys
sys.path.append('C:\\Users\\soria\\Documents\\WashUDataDocuments\\HwActivites\\YouTube_Project\\')

import pandas as pd

from pprint import pprint

import pymongo

import json

from bson.json_util import dumps, loads

import re

from datetime import datetime as dt

import time

In [2]:
os.getcwd()

'C:\\Users\\soria\\Documents\\WashUDataDocuments\\HwActivites\\YouTube_Project\\YouTube-Data-Analytics-and-Visualization\\data_wrangling'

In [3]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
mongoDb = client.social_blade

In [4]:
collection = mongoDb.social_blade_asmr_data

In [5]:
pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', None) 
pd.set_option('display.max_rows', None)

In [6]:

with open('sb_asmr_data.json') as data_file:    
    data = json.load(data_file)

In [7]:
data.keys()

dict_keys(['_id', 'ASMRKittyKlaw', 'GibiASMR', 'GentleWhisperingASMR', 'ASMRDarling', 'ASMRGlow', 'FrivolousFox', 'WhispersRedASMR', 'ASMRPPOMO', 'PelageaASMR', 'GoodnightMoon', 'MassageASMR', 'EphermalRift', 'KarunaSatori', 'RaffyTaphyASMR', 'FastASMR', 'ASMRrequests', 'SAS-ASMR', 'Softlygaloshes', 'HeatherFeatherASMR', 'FairyCharASMR', 'PJDreams', 'LatteASMR', 'DrTASMR', 'ASMRSurge', 'GwenGwiz', 'RapunzelASMR', 'CherryCrush', 'DanaASMR', 'OliviaKissperASMR', 'CosmicTinglesASMR', 'MissASMR', 'Angelica', 'TheOneLiliumASMR', 'SpringbokASMR', 'MarnoASMR', 'ASMRTheChew', 'FredsVoiceASMR', 'TirarADeguello', 'LauraLemurexASMR', 'SensorAdiASMR', 'TingleBelle', 'TonyBomboniASMR', 'HermeticKitten', 'SleepyTinglesASMR', 'ArticulateDesignASMR', 'Cloveress', 'ASMRSoundSpace', 'MiniyuASMR', 'ChristenNoelASMR', 'SassEsnacks', 'JASMR', 'Bluewhisper', 'suellASMR', 'ASMRctica', 'SouthernASMRSounds', 'TingTingASMR', 'CreativeCalmASMR', 'ScottishMurmurs', 'LetsFindOutASMR', 'FrivolousFoxASMR', 'JojosAsmr', 'EphemeralRift', 'KarunaSatoriASMR', 'fastASMR', 'softlygaloshes'])

In [8]:
channels = ['ASMRKittyKlaw', 'GibiASMR', 'GentleWhisperingASMR', 'ASMRDarling', 'ASMRGlow', 'FrivolousFox', 'WhispersRedASMR', 'ASMRPPOMO', 'PelageaASMR', 'GoodnightMoon', 'MassageASMR', 'EphermalRift', 'KarunaSatori', 'RaffyTaphyASMR', 'FastASMR', 'ASMRrequests', 'SAS-ASMR', 'Softlygaloshes', 'HeatherFeatherASMR', 'FairyCharASMR', 'PJDreams', 'LatteASMR', 'DrTASMR', 'ASMRSurge', 'GwenGwiz', 'RapunzelASMR', 'CherryCrush', 'DanaASMR', 'OliviaKissperASMR', 'CosmicTinglesASMR', 'MissASMR', 'Angelica', 'TheOneLiliumASMR', 'SpringbokASMR', 'MarnoASMR', 'ASMRTheChew', 'FredsVoiceASMR', 'TirarADeguello', 'LauraLemurexASMR', 'SensorAdiASMR', 'TingleBelle', 'TonyBomboniASMR', 'HermeticKitten', 'SleepyTinglesASMR', 'ArticulateDesignASMR', 'Cloveress', 'ASMRSoundSpace', 'MiniyuASMR', 'ChristenNoelASMR', 'SassEsnacks', 'JASMR', 'Bluewhisper', 'suellASMR', 'ASMRctica', 'SouthernASMRSounds', 'TingTingASMR', 'CreativeCalmASMR', 'ScottishMurmurs', 'LetsFindOutASMR', 'FrivolousFoxASMR', 'JojosAsmr', 'EphemeralRift', 'KarunaSatoriASMR', 'fastASMR', 'softlygaloshes']

In [9]:
sb_asmr_df = pd.DataFrame({
    'channel_name':[None] * len(channels),
    'channel_id': [None] * len(channels),
    'uploads': [None] * len(channels),
    'subs': [None] * len(channels),
    'views': [None] * len(channels),
    'country': [None] * len(channels),
    'channel_type': [None] * len(channels),
    'date_created': [None] * len(channels)
#     'time_series': [None] * len(channels)
})
sb_asmr_df.head()

,channel_name,channel_id,uploads,subs,views,country,channel_type,date_created
0,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None

In [10]:
sb_asmr_df.columns

Index(['channel_name', 'channel_id', 'uploads', 'subs', 'views', 'country',
       'channel_type', 'date_created'],
      dtype='object')

In [11]:
sb_asmr_dict = {
    'channel_name': [],
    'channel_id': [],
    'uploads': [],
    'subs':[],
    'views':[],
    'country':[],
    'channel_type':[],
    'date_created':[]
#     'time_series':[],
}

In [12]:
columns = ['channel_name', 'channel_id', 'uploads', 'subs', 'views', 'country',
       'channel_type', 'date_created', 'time_series']

In [13]:
# sb_asmr_dict[columns[0]].append('xyz')
# sb_asmr_dict

In [14]:
for channel in channels:
    sb_asmr_dict[columns[0]].append(data[channel][columns[0]])
    sb_asmr_dict[columns[1]].append(data[channel][columns[1]])
    sb_asmr_dict[columns[2]].append(data[channel][columns[2]])
    sb_asmr_dict[columns[3]].append(data[channel][columns[3]])
    sb_asmr_dict[columns[4]].append(data[channel][columns[4]])
    sb_asmr_dict[columns[5]].append(data[channel][columns[5]])
    sb_asmr_dict[columns[6]].append(data[channel][columns[6]])
    sb_asmr_dict[columns[7]].append(data[channel][columns[7]])
#     sb_asmr_dict[columns[8]].append(data[channel][columns[8]])

In [15]:
sb_asmr_df = pd.DataFrame(sb_asmr_dict)
sb_asmr_df.head()

,channel_name,channel_id,uploads,subs,views,country,channel_type,date_created
0,ASMR KittyKlaw,UCo-gAYrvd7WIrCRsNueddtQ,184,888117,141473823,,people,"Aug 14th, 2015"
1,Gibi ASMR,UCE6acMV3m35znLcf0JGNn7Q,373,1686824,429478130,US,entertainment,"Jun 19th, 2016"
2,Gentle Whispering ASMR,UC6gLlIAnzg7eJ8VuXDCZ_vg,393,1617552,578319406,US,entertainment,"Feb 24th, 2011"
3,ASMR Darling,UCikebqFWoT3QC9axUbXCPYw,153,2251401,418040979,US,entertainment,"Dec 11th, 2014"
4,ASMR Glow,UCFmL725KKPx2URVPvH3Gp8w,157,723979,119940003,,people,"Oct 24th, 2016"

In [16]:
sb_asmr_df['uploads'] = pd.to_numeric(sb_asmr_df['uploads'])
sb_asmr_df['subs'] = pd.to_numeric(sb_asmr_df['subs'])
sb_asmr_df['views'] = pd.to_numeric(sb_asmr_df['views'])

In [37]:
sb_asmr_df['date_created'] = [re.sub(r'th,', '', date) for date in sb_asmr_df['date_created']]
sb_asmr_df['date_created'] = [re.sub(r'st,', '', date) for date in sb_asmr_df['date_created']]
sb_asmr_df['date_created'] = [re.sub(r'nd,', '', date) for date in sb_asmr_df['date_created']]
sb_asmr_df['date_created'] = [re.sub(r'rd,', '', date) for date in sb_asmr_df['date_created']]
sb_asmr_df['date_created_dto'] = [dt.strptime(date, '%b %d %Y').isoformat() for date in sb_asmr_df['date_created']]
sb_asmr_df

,channel_name,channel_id,uploads,subs,views,country,channel_type,date_created,date_created_dto
0,ASMR KittyKlaw,UCo-gAYrvd7WIrCRsNueddtQ,888117,888117,888117,,people,Aug 14 2015,2015-08-14T00:00:00
1,Gibi ASMR,UCE6acMV3m35znLcf0JGNn7Q,1686824,1686824,1686824,US,entertainment,Jun 19 2016,2016-06-19T00:00:00
2,Gentle Whispering ASMR,UC6gLlIAnzg7eJ8VuXDCZ_vg,1617552,1617552,1617552,US,entertainment,Feb 24 2011,2011-02-24T00:00:00
3,ASMR Darling,UCikebqFWoT3QC9axUbXCPYw,2251401,2251401,2251401,US,entertainment,Dec 11 2014,2014-12-11T00:00:00
4,ASMR Glow,UCFmL725KKPx2URVPvH3Gp8w,723979,723979,723979,,people,Oct 24 2016,2016-10-24T00:00:00
5,FrivolousFox ASMR,UCoNfsDH8sZe13u7rSxaEBkw,1054200,1054200,1054200,US,people,May 2 2016,2016-05-02T00:00:00
6,WhispersRed ASMR,UC2nyigZS5YNDrCu_pih809w,684627,684627,684627,GB,people,Apr 12 2013,2013-04-12T00:00:00
7,ASMR PPOMO,UCAtFkapSeoEGPxm5bC3tvaw,1703724,1703724,1703724,KR,entertainment,Oct 22 2013,2013-10-22T00:00:00
8,Pelagea ASMR,UCNlMeUt5nOTQ-yfjXzRKVKA,784477,784477,784477,US,people,Aug 22 2015,2015-08-22T00:00:00
9,Goodnight Moon,UClMJgjg2z_IrRm6J9KrhcuQ,430334,430334,430334,,people,Jan 16 2014,2014-01-16T00:00:00
10,MassageASMR,UCgOfiuubHnhVrc9IEcSk1Nw,753617,753617,753617,AU,entertainment,Dec 5 2012,2012-12-05T00:00:00
11,Ephemeral Rift,UChRV-sCl5Fma4qm_hFpDKBQ,595216,595216,595216,US,entertainment,Sep 14 2011,2011-09-14T00:00:00
12,Karuna Satori ASMR,UCR3m5LGZuqORVdUZ1KaieYg,627314,627314,627314,US,people,Oct 6 2013,2013-10-06T00:00:00
13,RaffyTaphyASMR,UCMWQbdU4kjCB49xkuQ8nYRw,478648,478648,478648,US,entertainment,Sep 15 2015,2015-09-15T00:00:00
14,fastASMR,UCHiof82PvgZrXFF-BRMvGDg,410561,410561,410561,US,entertainment,Oct 22 2011,2011-10-22T00:00:00
15,ASMRrequests,UCX70sfic86MKcid2n0mmmqg,500049,500049,500049,US,people,May 17 2012,2012-05-17T00:00:00
16,SAS-ASMR,UCp4LfMtDfoa29kTlLnqQ5Mg,5123274,5123274,5123274,CA,entertainment,Apr 6 2016,2016-04-06T00:00:00
17,softlygaloshes,UCr6vWe5goPw6-4YknmrZioQ,331836,331836,331836,US,entertainment,Jun 6 2012,2012-06-06T00:00:00
18,Heather Feather ASMR,UC2eddeJoyByJBjE4CYXwNXQ,507156,507156,507156,US,people,Sep 20 2012,2012-09-20T00:00:00
19,Fairy Char ASMR,UCn622AJ6EcQLwpltrYJR8lw,412675,412675,412675,US,entertainment,Dec 16 2009,2009-12-16T00:00:00
20,PJ Dreams ASMR,UCLFeUtRSPnsNsmrPE6VoICg,379648,379648,379648,CA,entertainment,Jun 1 2016,2016-06-01T00:00:00
21,Latte ASMR,UCQe2Y7V-C9bNMAcCJCBvzQQ,677343,677343,677343,,people,Jan 4 2016,2016-01-04T00:00:00
22,Dr. T ASMR,UCgGhVPf9JH9S41mJwJwgNbg,315097,315097,315097,US,entertainment,Mar 22 2016,2016-03-22T00:00:00
23,ASMRSurge,UCIKOy_q2VWDv1vzeoi7KgNw,652193,652193,652193,PL,entertainment,Sep 25 2012,2012-09-25T00:00:00
24,GwenGwiz ASMR,UCu_2R1lG0r2Iwp8I5iZj5zA,368502,368502,368502,CA,entertainment,Jan 19 2011,2011-01-19T00:00:00
25,Rapunzel ASMR,UCFsmoWCbExiMFwkKaVmEyvg,417928,417928,417928,BE,entertainment,May 23 2014,2014-05-23T00:00:00
26,ASMR Cherry Crush,UCp5oSl262QFMOsjKj_kYILA,642972,642972,642972,US,entertainment,Mar 4 2012,2012-03-04T00:00:00
27,Dana ASMR,UC768XN2ZjMYtNsPT6hcvbCA,0,0,0,KR,people,Jul 20 2008,2008-07-20T00:00:00
28,Olivia Kissper ASMR,UCtc8gcFs2KXRzpV5iwJA8-w,317551,317551,317551,CR,entertainment,Aug 21 2013,2013-08-21T00:00:00
29,Cosmic Tingles ASMR,UCRfjHPn7nS2tpHj58APJZAw,260042,260042,260042,US,people,Jul 3 2009,2009-07-03T00:00:00
30,MissASMR,UCKxtuJv9fMuI1m-q7Edrsdg,233500,233500,233500,US,entertainment,Sep 26 2013,2013-09-26T00:00:00
31,Angelica,UCq7jt5BQ6LTULnRbLca0XdQ,164223,164223,164223,US,people,Aug 2 2015,2015-08-02T00:00:00
32,TheOneLilium ASMR,UCgh1498DodqqKvZ-FO5bRFg,219261,219261,219261,DK,people,Apr 24 2012,2012-04-24T00:00:00
33,Springbok ASMR,UC-r8XyqbggZobMiNsqgWkDg,158368,158368,158368,US,entertainment,Apr 25 2014,2014-04-25T00:00:00
34,Marno ASMR,UC4RdEwzh0r3CuTEElRQ6dpg,173082,173082,173082,,people,Jan 14 2018,2018-01-14T00:00:00
35,ASMRTheChew,UCKB6QpT1TKDfJY5W7il8G6Q,561622,561622,561622,US,people,Nov 1 2015,2015-11-01T00:00:00
36,FredsVoice ASMR,UC4YDVivhPsOEuyl1-WwLA-w,339204,339204,339204,GB,entertainment,May 23 2011,2011-05-23T00:00:00
37,TirarADeguello,UCPMkHVUXPgs5e5IM2orY3WQ,129857,129857,129857,US,people,Sep 25 2010,2010-09-25T00:00:00
38,LauraLemurex ASMR,UC8OwlKvwoxQ-aMobz1oUriQ,153246,153246,153246,GB,people,Nov 14 2011,2011-11-14T00:00:00
39,SensorAdi ASMR,UCuF6wXjkBfGkdXxSP1UGL-Q,201695,201695,201695,US,entertainment,Oct 13 2013,2013-10-13T00:00:00
40,TingleBelleASMR,UCAL_MPhlbwBNbotjRAzs5uQ,161443,161443,161443,US,entertainment,Sep 3 2015,2015-09-03T00:00:00
41,Tony Bomboni ASMR,UCQm6b6NgavijQ6GN6H7fwYg,276921,276921,276921,US,entertainment,Jul 18 2012,2012-07-18T00:00:00
42,Hermetic Kitten ASMR,UCR9ehrySGCcxFNg8gCA2rsQ,293784,293784,293784,GB,entertainment,Oct 2 2013,2013-10-02T00:00:00
43,Sleepy Tingles ASMR,UCuxrVcQuoORj9lvVrEzB_hA,250611,250611,250611,ES,entertainment,Nov 29 2016,2016-11-29T00:00:00
44,Articulate Design ASMR,UCOkFff6Mg5YEyeZ8XONGc9A,83757,83757,83757,GB,people,Jul 24 2016,2016-07-24T00:00:00
45,Cloveress ASMR,UCTjVaLeS2wX48ERLouBEXSw,207231,207231,207231,US,comedy,Jan 24 2016,2016-01-24T00:00:00
46,ASMRSoundSpace,UC7wwQl26xO9-6HLWyrhNXKg,189731,189731,189731,GB,entertainment,Feb 12 2016,2016-02-12T00:00:00
47,Miniyu ASMR,UCNAA9T4V8AsCSfbSBlfeDrw,493803,493803,493803,KR,people,Aug 27 2013,2013-08-27T00:00:00
48,Christen Noel ASMR,UCkvg7ur8e_HBZTRDv7-RfjA,97187,97187,97187,US,people,Jul 29 2013,2013-07-29T00:00:00
49,SassEsnacks,UCCa9soeNd8bOOr4LDJIKHIg,0,0,0,US,entertainment,Jan 20 2014,2014-01-20T00:00:00
50,J ASMR,UCZ6B7VjEacNY1z3M_xqM_aA,119413,119413,119413,US,,Dec 26 2017,2017-12-26T00:00:00
51,Bluewhisper,UC7wT_mqUvCHEIWm1cuw_T1Q,207508,207508,207508,,entertainment,Oct 21 2014,2014-10-21T00:00:00
52,suellASMR,UCiQOZOhSZpLaigDGgYhT4ng,1618752,1618752,1618752,US,,Apr 23 2017,2017-04-23T00:00:00
53,ASMRctica ASMR,UCi8QgZckGYg3RFvEbdkMWfg,26987,26987,26987,SE,entertainment,Sep 24 2015,2015-09-24T00:00:00
54,SouthernASMR Sounds,UCpw8ZudbxklOi73pWeI6s9A,148387,148387,148387,US,people,Jul 15 2015,2015-07-15T00:00:00
55,Tingting ASMR,UClqNSqnWeOOUVkzcJFj4rBw,519155,519155,519155,US,,Apr 26 2017,2017-04-26T00:00:00
56,Creative Calm ASMR,UCrIPWaSEHW4CqX0hGtxsQwg,201894,201894,201894,GB,entertainment,Sep 29 2015,2015-09-29T00:00:00
57,Scottish Murmurs ASMR,UCLcyg3kjSwlUxjnQhSMqfmg,125413,125413,125413,GB,people,Jul 18 2016,2016-07-18T00:00:00
58,Let's Find Out ASMR,UC7FOVZ1xTzKav7TVTATIcxQ,39847,39847,39847,,education,Mar 7 2013,2013-03-07T00:00:00
59,FrivolousFox ASMR,UCoNfsDH8sZe13u7rSxaEBkw,1054200,1054200,1054200,US,people,May 2 2016,2016-05-02T00:00:00
60,Jojo's ASMR,UCjyi6by44TTH0j_U3vXEGpA,534673,534673,534673,,people,Jan 19 2015,2015-01-19T00:00:00
61,Ephemeral Rift,UChRV-sCl5Fma4qm_hFpDKBQ,595216,595216,595216,US,entertainment,Sep 14 2011,2011-09-14T00:00:00
62,Karuna Satori ASMR,UCR3m5LGZuqORVdUZ1KaieYg,627314,627314,627314,US,people,Oct 6 2013,2013-10-06T00:00:00
63,fastASMR,UCHiof82PvgZrXFF-BRMvGDg,410561,410561,410561,US,entertainment,Oct 22 2011,2011-10-22T00:00:00
64,softlygaloshes,UCr6vWe5goPw6-4YknmrZioQ,331836,331836,331836,US,entertainment,Jun 6 2012,2012-06-06T00:00:00

In [17]:
asmr_type_uploads_summary = sb_asmr_df.groupby('channel_type')['uploads'].agg(['sum','count', 'mean'])
asmr_type_subs_summary = sb_asmr_df.groupby('channel_type')['subs'].agg(['sum','count', 'mean'])
asmr_type_views_summary = sb_asmr_df.groupby('channel_type')['views'].agg(['sum','count', 'mean'])
asmr_country_uploads_summary = sb_asmr_df.groupby('country')['uploads'].agg(['sum','count', 'mean'])
asmr_country_subs_summary = sb_asmr_df.groupby('country')['subs'].agg(['sum','count', 'mean'])
asmr_country_views_summary = sb_asmr_df.groupby('country')['views'].agg(['sum','count', 'mean'])

In [18]:
asmr_type_uploads_summary

                    sum  count           mean
channel_type
                2257320      3  752440.000000
comedy           207231      1  207231.000000
education         39847      1   39847.000000
entertainment  22338478     34  657014.058824
people         11703663     26  450140.884615

In [19]:
asmr_country_uploads_summary

              sum  count          mean
country
          3674883      8  4.593604e+05
AU         753617      1  7.536170e+05
BE         417928      1  4.179280e+05
CA        5871424      3  1.957141e+06
CR         317551      1  3.175510e+05
DK         219261      1  2.192610e+05
ES         250611      1  2.506110e+05
GB        2071656      8  2.589570e+05
KR        2197527      3  7.325090e+05
PL         652193      1  6.521930e+05
SE          26987      1  2.698700e+04
US       20092901     36  5.581361e+05

In [20]:
asmr_type_subs_summary

                    sum  count           mean
channel_type
                2257320      3  752440.000000
comedy           207231      1  207231.000000
education         39847      1   39847.000000
entertainment  22338478     34  657014.058824
people         11703663     26  450140.884615

In [21]:
asmr_country_subs_summary

              sum  count          mean
country
          3674883      8  4.593604e+05
AU         753617      1  7.536170e+05
BE         417928      1  4.179280e+05
CA        5871424      3  1.957141e+06
CR         317551      1  3.175510e+05
DK         219261      1  2.192610e+05
ES         250611      1  2.506110e+05
GB        2071656      8  2.589570e+05
KR        2197527      3  7.325090e+05
PL         652193      1  6.521930e+05
SE          26987      1  2.698700e+04
US       20092901     36  5.581361e+05

In [22]:
asmr_type_views_summary

                    sum  count           mean
channel_type
                2257320      3  752440.000000
comedy           207231      1  207231.000000
education         39847      1   39847.000000
entertainment  22338478     34  657014.058824
people         11703663     26  450140.884615

In [23]:
asmr_country_views_summary

              sum  count          mean
country
          3674883      8  4.593604e+05
AU         753617      1  7.536170e+05
BE         417928      1  4.179280e+05
CA        5871424      3  1.957141e+06
CR         317551      1  3.175510e+05
DK         219261      1  2.192610e+05
ES         250611      1  2.506110e+05
GB        2071656      8  2.589570e+05
KR        2197527      3  7.325090e+05
PL         652193      1  6.521930e+05
SE          26987      1  2.698700e+04
US       20092901     36  5.581361e+05

In [27]:
response = collection.find_one({}, {'_id': False, 'DanaASMR': False, 'SassEsnacks': False})

In [28]:
asmr_data = []
for channel, data in response.items():
    asmr_data.append(data)
for datum in asmr_data:
    datum['uploads'] = int(datum['uploads'])
    datum['views'] = int(datum['views'])
    datum['subs'] = int(datum['subs'])
    datum['date_created'] = re.sub(r'th,', '', datum['date_created'])
    datum['date_created'] = re.sub(r'st,', '', datum['date_created'])
    datum['date_created'] = re.sub(r'nd,', '', datum['date_created'])
    datum['date_created'] = re.sub(r'rd,', '', datum['date_created']).strip()
    datum['date_created'] = dt.strptime(datum['date_created'], '%b %d %Y')
    datum['channel_age'] = round((dt.now() - datum['date_created']).total_seconds()/3600/24)
    datum['upload_frequency'] = round(datum['channel_age']/datum['uploads'])
    datum['avg_views/video'] = round(datum['views']/datum['uploads'])
    datum['avg_vies/subscriber'] = round(datum['channel_age']/datum['subs'])
    datum['date_created'] = datum['date_created'].isoformat()

In [20]:
date = asmr_data[0]['date_created']
round((dt.now() - date).total_seconds()/3600/24)

1293

In [ ]:
for datum in asmr_data:
    datum['channel_age'] = dt.now() - date