In [65]:
from bs4 import BeautifulSoup

import requests

import pandas as pd

In [77]:
url = "socialblade.com/youtube/top/category/entertainment/mostsubscribed"

r  = requests.get("http://" +url)

data = r.text

soup = BeautifulSoup(data, "lxml")

In [78]:
print("Start data print=====================================")

totalUploads = []
# for link in soup.find_all('style="float: left; width: 350px; line-height: 25px;"'):
#     print(link.get())


results = soup.find_all("span")

# Loop through results to retrieve total uploads
for result in results[10::4]:
    
    uploads = result.text
    
    totalUploads.append(uploads)
    
    
#     .find(style_="float: left; width: 50px; color:#888;")
#     style="color:#555;"
#     print(uploads)

Start data print=====================================

In [79]:
subscribers = []

for result in results[11::4]:
    
    subs = result.text
    
    subscribers.append(subs)
#     print(subs)

In [80]:
totalVideoViews = []

for result in results[12::4]:
    
    videoViews = result.text
    
    totalVideoViews.append(videoViews)
#     print(videoViews)

In [81]:
channelName = []

results = soup.find_all("a")

for result in results[157:407]:
    
    channel = result.text
    
    channelName.append(channel)
#     print(channel)

In [82]:
# print(len(totalVideoViews))

# totalUploads = 251
# subscribers = 251
# totalVideoViews = 251

totalVideoViews = totalVideoViews[0:250]
subscribers = subscribers[0:250]
totalUploads = totalUploads[0:250]

print(len(totalVideoViews))
print(len(subscribers))
print(len(totalUploads))

250
250
250

In [84]:
youtube_df = pd.DataFrame({'Username': channelName, 'Total Uploads': totalUploads,
                           'Subscribers': subscribers, 'Total Video Views': totalVideoViews})

youtube_df.head(15)

                Username Total Uploads Subscribers Total Video Views
0          Justin Bieber           132  43,298,996       602,143,248
1              SET India        28,891  41,656,913    28,853,029,077
2         HolaSoyGerman.           137  37,910,340     3,800,802,575
3                Badabun         3,739  35,980,150     9,901,497,745
4                Rihanna            76  31,261,414        60,020,530
5           TheEllenShow         9,853  30,854,276    14,911,724,702
6            Felipe Neto         1,575  30,586,534     5,987,718,397
7       Spinnin' Records         8,718  24,574,069    14,206,287,257
8                 Zee TV        58,705  24,090,826    16,881,449,815
9             Luis Fonsi            73  24,005,698        16,070,529
10            Get Movies         2,851  22,459,165    18,736,952,513
11  [토이푸딩] ToyPudding TV         2,462  22,004,012    13,291,334,037
12           Você Sabia?           753  21,903,126     2,435,270,444
13              nigahiga           355  21,302,234     3,985,766,414
14     WorkpointOfficial        30,051  21,241,622    17,031,124,726